{# dashboard/client/templates/blocks/senders.html.j2 #}
<table><tr><th>Sender</th><th>Volume</th><th>Bounced</th><th>Bounce rate</th></tr>
 {% for s in metrics.senders %}
 <tr><td>{{ s.from_email }}</td><td>{{ s.volume }}</td>
     <td>{{ s.bounced }}</td>
     <td class="{{ 'flag' if s.flag }}">{{ '%.1f%%' % (s.bounce_rate*100) }}</td></tr>
 {% endfor %}</table>
